<%= form_for "" , :url => archive_story_path(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder:"Add the title..." %>
  </div>
  <div class="actions">
    <%= f.submit "Add title and save story to archive" %>
  </div>
<% end %>
