<%= link_to 'Add New Story', new_story_path, class: "start-new-story" %>

<h2>Active Stories</h2>
<ol>
<% @stories.each do |story| %>
  <li>
    <%= truncate(story.content, length: 100, separator: ' ') %>
    <%= link_to 'Continue Story', edit_story_path(story) %>
  </li>
<% end %>
</ol>

<br />


<h2>Archived Stories</h2>
<ol>
<% @archived_stories.each do |story| %>
	<li>
	<%= story.title %>
	<%= link_to 'Read Full Story', story %>
	</li>
<% end %>
</ol>

<!--<%= link_to "Blog", controller: "posts" %>-->
